{
        "plugin_name" : "vanilla",
        "hadoop_version" : "1.2.1",
        "node_processes": [
                "namenode",
                "jobtracker"
        ],
        "name": "master",
        __floating_ip__
        "flavor_id": "2"
}
