{
        "plugin_name" : "vanilla",
        "hadoop_version" : "1.2.1",
        "node_processes": [
                "datanode",
                "tasktracker"
        ],
        "name": "worker",
        __floating_ip__
        "flavor_id": "2"
}
