GIT_BASE=https://git.openstack.org
NO_UPDATE_REPOS=True
GLANCE_BRANCH=stable/icehouse
HORIZON_BRANCH=stable/icehouse
KEYSTONE_BRANCH=stable/icehouse
NOVA_BRANCH=stable/icehouse
GLANCE_BRANCH=stable/icehouse
NEUTRON_BRANCH=stable/icehouse
CINDER_BRANCH=stable/icehouse
SWIFT_BRANCH=2.2.1


DATABASE_TYPE=mysql
DATABASE_USER=root

SERVICE_HOST=192.168.10.10
CONTROL_HOST=192.168.10.10
QPID_HOST=192.168.10.10
MYSQL_HOST=192.168.10.10
RABBIT_HOST=192.168.10.10
GLANCE_HOSTPORT=192.168.10.10:9292

LOGFILE=/opt/stack/logs/stack.sh.log
LOG_COLOR=True
SCREEN_LOGDIR=/opt/stack/logs

ADMIN_PASSWORD=abc123
MYSQL_PASSWORD=abc123
RABBIT_PASSWORD=abc123
SERVICE_PASSWORD=abc123
SERVICE_TOKEN=abc123

Q_PLUGIN=ml2
ENABLE_TENANT_TUNNELS=True
Q_ML2_TENANT_NETWORK_TYPE=vxlan
Q_ML2_PLUGIN_MECHANISM_DRIVERS=openvswitch,linuxbridge
Q_ML2_PLUGIN_FLAT_TYPE_OPTIONS=flat_networks=public

OVS_PHYSICAL_BRIDGE=br-ex
OVS_BRIDGE_MAPPINGS=public:br-ex
ML2_VLAN_RANGES=public:1:4000

Q_USE_PROVIDERNET_FOR_PUBLIC=True
PUBLIC_PHYSICAL_NETWORK=public
PUBLIC_NETWORK_GATEWAY=192.168.20.1
FLOATING_RANGE=192.168.20.0/24
Q_FLOATING_ALLOCATION_POOL=start=192.168.20.113,end=192.168.20.118

Q_USE_NAMESPACE=True
Q_ALLOW_OVERLAPPING_IP=False

FIXED_RANGE=10.0.1.0/24
NETWORK_GATEWAY=10.0.1.1
FIXED_NETWORK_SIZE=4096
