[Unit]
Description=OpenStackClient server

[Service]
ExecStart=/home/stack/bin/openstack-server
StandardOutput=syslog
StandardError=syslog
User=stack
Group=stack
