- hosts: all
  roles:
    - test-matrix
    - configure-swap
    - setup-stack-user
    - setup-tempest-user
    - setup-devstack-source-dirs
    - setup-devstack-log-dir
    - setup-devstack-cache
    - start-fresh-logging
    - write-devstack-local-conf
